/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fondo general */
body {
    background: linear-gradient(135deg, #ffffff, #ffffff,  #ffffff);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Contenedor principal */
.contenedor {
    width: 90%;
    max-width: 900px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

/* Título */
header h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #fdfdfd;
}

/* Secciones */
.menu-seccion {
    margin-bottom: 30px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.menu-seccion h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 5px;
}

/* Botones */
.botones {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.btn {
    background-color: #b30000;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #8559aa;
    transform: scale(1.05);
}

/* Responsive */
@media (max-width: 600px) {
    .botones {
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }
}